<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/ccbs.css">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <title>Back Admin</title>
</head>

<body>
<div id="header">
    <div class="logo">
        <a href="http://www.ccbs31.fr/84571272"><img src="../public/img/logo.jpg" alt=""></a>
    </div>

    <ul class="menu">
        <li><a href="/">Accueil</a></li>
        <li><a href="/logout">Déconnexion</a></li>
        <li><p>Que la force soit avec toi <span class="userStyle2"><%=user.prenom%></span></p></li>
    </ul>
</div>

<div id="container">
    <div class="retourBack">
        <a href="/admin"><img src="../public/img/back_32.png" alt=""></a>
    </div>
    <div class="imgpatte">
        <img src="../public/img/animal-prints_64.png" alt="">
        <h1 class="titre_backoffice">Gestion utilisateurs</h1>
    </div>
    <% include ./partials/message.ejs%>
    <div class="detail">
        <div class="blocBack">
            <div class="blocIcoAdmin">
                <div class="imgIco"><a href="/Admin-inscription-user"><img class="ico" src="../public/img/create-user.png" alt=""></a>
                    <h2>Ajouter un utlisateur</h2>
                </div>
                <div class="imgIco"><a href="/modifier-user"><img class="ico" src="../public/img/update-user.png" alt=""></a>
                    <h2>Modifier ou Supprimer</h2>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>

